.about {
  position: relative;
  background-color: #0A2850;
  overflow: hidden;
  padding: 100px 80px 173px 80px;
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  z-index: 1;
  margin-left: auto;
  margin-top: 19px;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 251px;
  position: absolute;
  top: 100px;
  left: 80px;
  z-index: 1;
}

.about__paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  gap: 20px;
  margin-top: 19px;
  padding: 0;
}

.about__circle {
  background-color: #2f80ed;
  border-radius: 50%;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
  overflow: hidden;
}

.about__circle_animation_blurred {
  animation: pulsate ease-in-out 1.3s infinite;
  animation-delay: 0s;
}

@keyframes .pulsate {
0% { opacity: 0; }
50% { opacity: 0.6; }
100% { scale: 1.4; }
}