.header {
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    padding: 30px 80px 40px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
    background-image: url(../images/background_header.svg);
    }

    .header__span-accent {
        font-family: "Noto Serif";
        font-style: italic;
        font-weight: normal;
        font-size: 60px;
        line-height: 72px;
        color: #2F80ED;
        margin: 0;
        padding: 0;
        display: block;
      }

      .header__title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -0.6px;
        padding: 0;
        max-width: 729px;
        margin: 183px 0 0;
        z-index: 0;
      }

      .header__image {
        width: 646px;
        height: 568px;
        padding: 0;
        position: absolute;
        right: 5px;
        top: 124px;
        z-index: -1;
      }

.header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin: 28px 0 0;
  }

  .header__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .header__paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    margin-top: auto;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    display: flex;
  }