.page {
  min-width: 1100px;
  max-width:1600px;
  margin: 0;
  font-size:16px;
  line-height:20px;
  font-family:Inter, Arial, Sans-Serif;
  background-color:#FFFFFF;
  background-image:url(/se_project_coffeeshop/images/background_header.svg);
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  height: 100vh;
}

.header {
min-height: 720px;
max-height: 800px;
height: 100vh;
padding: 30px 80px 40px;
position: relative;
z-index: 0;
display: flex;
flex-direction: column;
}

.nav {
display:flex;
flex-direction:row;
margin-left: auto;
}

.nav__logo {
 width: 105px;
 height: 39px;
 position: absolute;
 top: 30px;
 left: 30px;
}

.nav__links {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
  margin: 0;
  padding: 0;
  display: block;

}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  padding: 0;
  max-width: 729px;
  margin: 183px 0 0;
  z-index: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  text-decoration: none;
  list-style-type: none;
  flex-direction: row;
  display: flex;
}

.recipes {
background-image: url(../images/background_recipes.svg);
background-color: #0A2750;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 100%;
min-height: 720px;
max-height: 800px;
height: 100vh;
padding: 100px 0 215px 0;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  padding-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 80px;
  max-width: 438px;
  position: relative;
  top: 24px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 80px;
  justify-content: center;
}

.recipes__iframe {
  display: flex;
  flex-direction: column;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

