.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 0;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter, Arial, Sans-Serif;
  background-color: #FFFFFF;
  background-image: url(/se_project_coffeeshop/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header {
  padding: 0;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav {
display: flex;
justify-content: space-between;
padding-left: auto;
}

.nav_logo {
  width: 105px;
  height: 39px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.nav__links {
  gap: 20px;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin: 8px 0 0;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.header_title {
  max-width: 729px;
  display: flex;
  flex-direction: column;
}

.header_span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  padding: 0;
  margin: 0;
}

.header_image {
  width: 646px;
  height: 568px;
  padding: 0;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header_description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  position: relative;
}

.header_footer-address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  position: relative;
  right: 80px;
  bottom: 40px;

}

.header_footer-column-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}

.header_footer_column-heading-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}

.header_footer-list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}


.content {
background-image: url(../images/background_recipes.svg);
background-color: #0A2750;
min-height: 720px;
max-height: 800px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
}

.recipe_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 500px;
  position: relative;
  top: 100px;
  left: 80px;
}

.recipe_subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipe_videos {
  display: flex;
  justify-content: center;
  align-content: center;
}

.iframe {
  width: 480px;
  height: 273px;
  display: flex;
  flex-direction: row;
  row-gap: 40px;
  margin: auto;
  gap: 40px;

}

.video_caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
