.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #FFFFFF;
  background-image: url(/se_project_coffeeshop/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: 30px;
  right: 30px;
}
